<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="manifest" href="manifest.json">
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <title id="title">{{ chatroomName }}</title>
</head>
<body>
  <h1>{{ chatroomName }}</h1>
  <div id = "messageContainer">
  </div>

  <form action="{{ url_for("chatroom")}}" method="post"> 
    <input id="message" name = "message">
    <button class="button" type="submit">Submit Message</button> 
  </form>
</body>
<script>

  function readCookie(cookieName) {
  let name = cookieName + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}

  window.onload = function() {
    messages = {{ messages|tojson }} 
    
    document.getElementById("message").value = readCookie("message")

    // For every message in messages
    for (i=0;i<messages.length;i++) {
      // Add the message to the div element
      var paragraph = document.createElement("p")
      paragraph.innerHTML = messages[i]

      document.getElementById("messageContainer").append(paragraph)
    }
      // When a key is pressed
      document.onkeydown= function(e){
          document.cookie = "message="+document.getElementById("message").value
      }

      // Every 5 seconds
      setTimeout(function(){
        // Reload the page (to show any new messages)
        window.open("/chatroom", "_self")
      }, 20000)
    }
</script>

</html>