<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="manifest" href="manifest.json">
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <title id="title">{{ chatroomName }}</title>
</head>
<body>
  <h1>TODO: Add the ability to send messages, recieve mesages, and show the last 20 sent messages or so</h1>
  <div id = "messageContainer">
  </div>

  <form action="{{ url_for("chatroom")}}" method="post"> 
    <input name = "message">
    <button class="button" type="submit">Submit Message</button> 
  </form>
</body>
<script>
  messages = {{ messages|tojson }} 

  // For every message in messages
  for (i=0;i<messages.length;i++) {
    // Add the message to the div element
    var paragraph = document.createElement("p")
    paragraph.innerHTML = messages[i]

    document.getElementById("messageContainer").append(paragraph)
  } 
</script>

</html>