<!DOCTYPE html>
<head>
    <link rel="manifest" href="manifest.json">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title id="title">LinguaLearn Dashboard</title>
</head>

<body>
    <h1>Dashboard</h1>
    <h3>XP: {{ xp }}</h3>
    <h3>{{ streak }}</h3>
    <button onclick="window.open('/leaderboard', '_self')">Leaderboard</buttom>
    <button onclick="window.open('/createChatroom', '_self')">Create a chatroom</button>
    <button onclick="window.open('/joinChatroom', '_self')">Join a chatroom</button>
</body>

<script>
    document.cookie = "loggedIn=True"

    // Convert the user array passed from python to a usable array
    chatroomsToDisplay = {{ chatrooms|tojson }}  

    for (chatroom=1;chatroom<chatroomsToDisplay.length;chatroom=chatroom+2) {
        //alert (chatroomsToDisplay[chatroom])

        container = document.createElement('div');
        container.setAttribute("style", "border:1px solid black")

        // Append the chatroom name to the div
        chatroomName = document.createElement("button");
        chatroomName.innerHTML = chatroomsToDisplay[chatroom]
        chatroomName.setAttribute("onclick", "joinChatroom(this.innerHTML)")
        chatroomName.setAttribute("name", chatroomsToDisplay[chatroom])
        container.appendChild(chatroomName);

        // Append the chatroom language to the div
        chatroomLanguage = document.createElement("p")
        chatroomLanguage.innerHTML = chatroomsToDisplay[chatroom-1]
        container.appendChild(chatroomLanguage)

        // Add container containing chatroom name and language to body
        document.body.appendChild(container);
    }


    function joinChatroom (chatroomName) {
        document.cookie = "chatroomName=" + chatroomName
        window.open("/chatroom", "_self")
    }
</script>