<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="manifest" href="manifest.json">
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
  <title id="title">LinguaLearn</title>
</head>
<body>
<h1>Sign Up</h1>

<form action="{{ url_for("signUp")}}" method="post"> 
<p>Username:</p>
<input name = "usernameInput">
<br>
<p>Password:</p>
<input name = "passwordInput">
<button class="button" type="submit">Create your account</button> 
</body>

</html>